{
    "RootNamespace": "SereneMovieTutorial",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=.\\SQLEXPRESS;Initial Catalog=SereneMovieTutorial_Default_v1;Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Movie",
                    "Identifier": "Movie",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Genre",
                    "Identifier": "Genre",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MovieGenres",
                    "Identifier": "MovieGenres",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Person",
                    "Identifier": "Person",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MovieCast",
                    "Identifier": "MovieCast",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Employee2",
                    "Identifier": "Employee2",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Employees",
                    "Identifier": "Employees",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Plant",
                    "Identifier": "Plant",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Distict",
                    "Identifier": "Distict",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Destination",
                    "Identifier": "Destination",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Expense",
                    "Identifier": "Expense",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.VehicleMaster",
                    "Identifier": "VehicleMaster",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CustomerMaster",
                    "Identifier": "CustomerMaster",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.StateMaster",
                    "Identifier": "StateMaster",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.BranchMaster",
                    "Identifier": "BranchMaster",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ItemMaster",
                    "Identifier": "ItemMaster",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LoadingTrip",
                    "Identifier": "LoadingTrip",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.FinancialYear",
                    "Identifier": "FinancialYear",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Customer",
                    "Identifier": "Customer",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PUMPMASTER",
                    "Identifier": "Pumpmaster",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PartyMaster",
                    "Identifier": "PartyMaster",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.FuelData",
                    "Identifier": "FuelData",
                    "Module": "FuelManagement",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.FuelDetails",
                    "Identifier": "FuelDetails",
                    "Module": "FuelManagement",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.DIESELISSUE",
                    "Identifier": "Dieselissue",
                    "Module": "FuelManagement",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.v_LoadingTripDetails",
                    "Identifier": "LoadingTripDetails",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.UnloadTrip",
                    "Identifier": "UnloadTrip",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ITEM_MASTER",
                    "Identifier": "ItemMaster",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ITEM",
                    "Identifier": "Item",
                    "Module": "Inventry",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PurchaseOrder",
                    "Identifier": "PurchaseOrder",
                    "Module": "Inventry",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PurchaseRequestDetail",
                    "Identifier": "PurchaseRequestDetail",
                    "Module": "Inventry",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Unit",
                    "Identifier": "Unit",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.V_PendingPurchaseOrder",
                    "Identifier": "PendingPurchaseOrder",
                    "Module": "Inventry",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PurchaseBill",
                    "Identifier": "PurchaseBill",
                    "Module": "Inventry",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PurchaseBillDetail",
                    "Identifier": "PurchaseBillDetail",
                    "Module": "Inventry",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TripDetailsInvoice",
                    "Identifier": "PendingTripDetailsInvoice",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MANAGEINVOICE",
                    "Identifier": "Manageinvoice",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.INVOICEDETAILS",
                    "Identifier": "Invoicedetails",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Tax",
                    "Identifier": "Tax",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Maintenance",
                    "Identifier": "Maintenance",
                    "Module": "MaintenanceModule",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MaintenanceHead",
                    "Identifier": "MaintenanceHead",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\SereneMovieTutorial\\SereneMovieTutorial.Web\\SereneMovieTutorial.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}