{
    "RootNamespace": "SereneMovieTutorial",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=HP-VICTUS\\SQLEXPRESS01;; Initial Catalog= SereneMovieTutorial_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Movie",
                    "Identifier": "Movie",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Genre",
                    "Identifier": "Genre",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MovieGenres",
                    "Identifier": "MovieGenres",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Person",
                    "Identifier": "Person",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MovieCast",
                    "Identifier": "MovieCast",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Employee2",
                    "Identifier": "Employee2",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Employees",
                    "Identifier": "Employees",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Plant",
                    "Identifier": "Plant",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Distict",
                    "Identifier": "Distict",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Destination",
                    "Identifier": "Destination",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Expense",
                    "Identifier": "Expense",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.VehicleMaster",
                    "Identifier": "VehicleMaster",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CustomerMaster",
                    "Identifier": "CustomerMaster",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.StateMaster",
                    "Identifier": "StateMaster",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.BranchMaster",
                    "Identifier": "BranchMaster",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ItemMaster",
                    "Identifier": "ItemMaster",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LoadingTrip",
                    "Identifier": "LoadingTrip",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.FinancialYear",
                    "Identifier": "FinancialYear",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Customer",
                    "Identifier": "Customer",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\SereneMovieTutorial\\SereneMovieTutorial.Web\\SereneMovieTutorial.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}