@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.FuelManagement.FuelData.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SereneMovieTutorial.FuelManagement.FuelDataGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>