@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Inventry.PurchaseOrder.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SereneMovieTutorial.Inventry.PurchaseOrderGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>