@import "site.mixins.less";


.s-Default-MovieDialog {
    > .size { width: 650px;height:500px; }
    .caption { width: 150px; }
}

.s-Default-GenreDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-PersonDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-Employee2Dialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-EmployeesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-PlantDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-DistictDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-DestinationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-ExpenseDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-VehicleMasterDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-CustomerMasterDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-BranchMasterDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-StateMasterDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-ItemMasterDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-LoadingTripDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-FinancialYearDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-CustomerDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-PumpmasterDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-PartyMasterDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-VLoadingTripDetailsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-UnloadTripDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-ItemDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-UnitDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-PendingTripDetailsInvoiceDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-InvoicedetailsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-ManageinvoiceDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-TaxDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-MaintenanceHeadDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}