@import "site.mixins.less";


.s-Inventry-ItemDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Inventry-PurchaseOrderDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Inventry-PurchaseRequestDetailDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Inventry-PendingPurchaseOrderDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Inventry-PurchaseBillDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Inventry-PurchaseBillDetailDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}