@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.VLoadingTripDetails.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SereneMovieTutorial.Default.VLoadingTripDetailsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>